div.nav-add-transaction-container{

    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;

}

div.flow-nav-container {
  width: 50%;
  background-color: lightgray;
  height: 100%;
}

div.add-transaction-btn-container {
  width: 50%;
  height: 100%;
  
}

button.add-transaction-btn {

    float: right;
    background-color: #ED1C23;
    color: white;
    border: none;
    height: 100%;

}
