@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

a{
  text-decoration: none;
}
div.account-container{

  width: 100%;
  height: 155px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  border: solid 1px lightgray;

}

div.account-details-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.account-buttons-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.account-number-balance-container{

    width: 65%;
    height: 65%;

}

div.account-number-container{

    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;

}

div.account-number-container p {
  margin-left: 5px;
  font-family: 'Roboto', sans-serif;
  color: #868686;
}

  div.account-number-container p.acc-no{

      margin-top: 4px;
  }

  div.account-number-container p.account-number {
    font-size: 20px;
    font-weight: 500;
    color: black;
  }

div.account-balance-container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}


div.account-balance-container p {
  margin-left: 5px;
  font-family: 'Roboto', sans-serif;
  color: #868686;
}

div.account-balance-container p.acc-balance {
  margin-top: 4px;
}

div.account-balance-container p.account-balance {
  font-size: 20px;
  font-weight: 500;
  color: red;
}

div.account-buttons-container .account-buttons-inner-container {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

}

div.account-buttons-container .account-buttons-inner-container button {

  float: right;
  border: none;
  background-color: #DF9794;
  color: white;
  width: 90px;
  height: 45px;

}


div.account-buttons-container .account-buttons-inner-container button a{
    text-decoration: none;
    color: white;
}
