<h1>Relevent info about this site and myself</h1>
<h4>Relevent info</h4>
<ul>
  <li>The <code>Server</code> and <code>Database</code> information given to the system maybe differnt from what you have on your local machine, so change that accordingly.</li>
  <li>Should you want to find out more about something you do not understand please do not hasitate to call/email me.</li>
</ul>

<h4>About myself</h4>

<p>
  I am full-stack software developer specializing in:
<p>

<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a></li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a></li>
</ul>

