<div class="icons-container">

  <div class="tech-tool-icon-container angular-icon-container">
    <img class="icon-img" src="assets/icons/angular-img.png"/>
  </div>
  <div class="tech-tool-icon-container netcore-icon-container">
    <img class="icon-img" src="assets/icons/netcore-log.png" />
  </div>

</div>


<h1>Hello, Welcome to my asessment!</h1>
<p>This is a single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
</ul>
<h4>What the website is about</h4>

<p>The website solves a given problem, an accounts management problem. There a list of people in our system, each of the
people has 0 or more accounts and every account has zero or more transactions.</p>
<p>Every one of these entities(People, Accounts and Transactions) can be Edited, Created and Deleted through our website.</p>
